#FenInDiv {
  position: relative;
  left: 60px;
}

#fenIn {
  width: 480px;
  left: 60px;
}

#Board {
  position: relative;
  top: 20px;
  left: 60px;
  width: 480px;
  height: 480px;
  border-style: solid;
  border-width: 2px;
}

#EngineOutput {
  position: absolute;
  left: 600px;
  top: 250px;
}
